.BaseDiv {
    position: relative;
    width: 100%;
    height: 100%;

}

.BaseImage, .BaseImageTwo {
    position: absolute;
    
    left: -60px;
    width: 110%;
    z-index: -1;
    /* bottom: 150px; */
    bottom: 0;

    border-radius: 80px;
    
}



.BaseWrapper {
    /* background: #000; */
    position: relative;
    display: flex;
    height: 100%;

    justify-content: space-between;

}

.TopDiv {
    height: 90%;
    width: 30%;
    /* background-color: aqua; */
    margin: 50px 0;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;
    flex-wrap: wrap;
}

.PizzaIllustartion {
    width: 300px;
    /* margin: 2rem 0; */

    border-radius: 20px;
    margin-bottom: 20px;

    
    
}

.CardWrapper {
    width: 55%;
    height: 70%;
    margin-top: 5rem;
    /* background: #000; */
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
}

.CardDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;

    height: 50%;
}


.ActionDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media query for mobile */
@media screen and (max-width: 768px) {
    .BaseWrapper {
        height: 100%;
        margin-top: 4rem;
        /* overflow: hidden; */
        flex-direction: column;
        bottom: auto;
        width: 100vw;
        align-items: center;
    }

    .TopDiv {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-self: center;
        height: 100%;
        margin: 0;
    }

    .TopDiv h1 {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 1rem;
        order: -1;
    }

    

    .PizzaIllustartion {
        width: 60%;
        margin: 0;
        /* height: 150px; */
        /* margin-top: 3rem; */
        /* border-radius: 0; */
    }

    .CardWrapper {
        width: 100%;
        height: 100%;
        
        margin: 0;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        /* align-content: center; */
        flex-wrap: wrap;
    }

    .ActionDiv {
        margin: 1rem 0;

    }

    
   
}

